@use "../base/variables"as v;

.alert {
  width: 100%;
  padding: 1rem 0;
  transition: .3s;
  margin-bottom: 1rem;
  // text-align: left;

  &.error {
    color: darken($color: v.$red, $amount: 10%);
    border-left: .2rem solid v.$red;
    padding-left: .5rem;


    &:hover {
      cursor: pointer;
      background-color: lighten($color: v.$red, $amount: 36%);
      border-left: .5rem solid v.$red;
      padding-left: 1rem;
      transform: translateX(1rem);
    }
  }

}