@use "../base/variables"as v;
@use "../base/mixins"as m;

.buttons {
  display: flex;
  // justify-content: center;


  .edit {
    @include m.button(v.$purpleLan, v.$white, "inline-block");
    min-width: 10rem;

    @include m.min_tablet {
      margin-right: 1rem;
    }
  }

  .delete {
    @include m.button(v.$red, v.$white, "inline-block");
    min-width: 10rem;
  }

  @include m.max_tablet {
    justify-content: space-between;
  }
}