// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');
$fontPrincipal: 'Poppins',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$blue: #8bc1f6;
$red: #c9604e;
$green:#75ae35;
$black: #2d3137;
$purple: #6b67e3;
$purpleLan: rgb(94, 80, 141);
$purpleGray: #6460a3;
$white: #ffffff;
$gray: #e8eef3da;