// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');
$fontPrincipal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #0da6f3;
$red: #cb0000;
$green:#329f00;
$black: #1a1b15;

$white: #FFFFFF;
$gray: #e1e1e1;
